<a href="https://colab.research.google.com/github/kaavyajayakrishnan/ML-Project-Template/blob/main/lego.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [5]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt 
import plotly

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
from google.colab import files
uploaded = files.upload()

Saving colors.csv to colors.csv

In [8]:
colors = pd.read_csv('/content/colors.csv')

In [9]:
import io
colors = pd.read_csv(io.BytesIO(uploaded['colors.csv']))

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
colors.head()

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

In [12]:
nRow, nCol = colors.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 135 rows and 4 columns

In [13]:
colors.tail()

       id                          name     rgb is_trans
130  1004  Trans Flame Yellowish Orange  FCB76D        t
131  1005             Trans Fire Yellow  FBE890        t
132  1006        Trans Light Royal Blue  B4D4F7        t
133  1007                 Reddish Lilac  8E5597        f
134  9999                    [No Color]  05131D        f

In [14]:
#printing the number of colors
No_of_colors=colors.name.count()

In [15]:
print(No_of_colors)

135

In [17]:
#checking transparency of colors
colors_trans=colors.groupby("is_trans").count()
print(colors_trans)

           id  name  rgb
is_trans
f         107   107  107
t          28    28   28

In [22]:
data_frame = pd.get_dummies(colors)
print(data_frame)

       id  name_Aqua  name_Black  ...  rgb_FFFFFF  is_trans_f  is_trans_t
0      -1          0           0  ...           0           1           0
1       0          0           1  ...           0           1           0
2       1          0           0  ...           0           1           0
3       2          0           0  ...           0           1           0
4       3          0           0  ...           0           1           0
..    ...        ...         ...  ...         ...         ...         ...
130  1004          0           0  ...           0           0           1
131  1005          0           0  ...           0           0           1
132  1006          0           0  ...           0           0           1
133  1007          0           0  ...           0           1           0
134  9999          0           0  ...           0           1           0

[135 rows x 262 columns]